

##### data #####
*.gz
*.tar
*.zip
*.sbt
*.bz2
*.fq
*.fa
*.fna
*.faa
*.fastq
*.fasta

##### reports #####

*.html
*.json

##### Snakemake #####
*.log
*.benchmark
*.snakemake

snakecrate/fulldata/*
intermediate_files/
bash_err_*.output
bash_out_*.output
bash_report_*.output

##### grist/sourmash #####
*.gather.out
*.gather.csv
*.prefetch.csv

##### R #####
.DS_Store
.RData
.Rhistory


##### other #####
2020-work/

#I dont even know what this is:
.kernel.set

