

##### data #####
*.gz
*.tar
*.zip
*.sbt
*.bz2
*.fq
*.fa
*.fna
*.faa
*.fastq
*.fasta


##### Snakemake #####
*.log
*.benchmark
*.snakemake

snakecrate/fulldata/*
intermediate_files/



##### R #####
.DS_Store
.RData
.Rhistory


##### other #####
2020-work/

